# ide stuff
.idea

# MacOS trash
.DS_Store

# still in process of building
/corvus-frontend/

# dev tools
**/*temp*
**/*repomix*
**/myNotes/

# secrets
# **/*.db # will be tracked for a bit during development